<% if @visits.nil? %>

  <p>Nothing in your visiting list</p>

<% else %>

  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>

      <% @visits.each do |visit| %>
        <tr>
          <td><%= link_to visit.property.address, visit.property %></td>
          <td><%= visit.date %></td>
          <td><%= visit.time %></td>
          <td><%= button_to "Remove from visiting list", visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

<% end %>