<h1 id="welcome" class="center">About</h1>
<p class="text-center white-text">
  Beary Best Rentals is a rental property system build as a project for SEG 3102.
  Beary Best Rentals allows owner to sell their properties and customer to buy properties.
</p>
