<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<% if admin? %>
	  <%= link_to " Create New User ", new_user_registration_path %><br />
<% end %>

<% @users = User.all %>
<% @users.each do |user| %>
    <%= user.email %><br/>
<% end %>