<h1 id="welcome" class="center">Help</h2>
<p class="white-text">
  Welcome to the help page. If you need any help using <strong><i>Beary Best Rentals</i></strong>,
  please don't hesitate to contact our support team at <%= mail_to 'support@example.com', "support@example.com", class: 'link' %>
  or call us at 1-800-123-4567.
</p>
