<div class="center">	
  <h1 id="welcome">Welcome to Beary Best Rentals</h1>

  <%= image_tag 'Beary_best_rentals.png', class: 'img-circle', alt: "Beary Best Rentals Logo" %>  
</div>

<div>
 <% if user_signed_in? %>
      <h5 id="logged_as">Hi, <strong><%= current_user.first_name %></strong></p></h5>
    <% end %>	
</div>

