<div class="center jumbotron">
  <h1>Welcome to Beary Best Rentals</h1>

  <h2>
    If you don't have an account feel free to register below.
  </h2>

  <%= link_to 'Sign up now!', '#', class: "btn btn-lg btn-primary" %>
</div>

