#github {
  margin: 0 auto;
  margin: 20px;
  height: auto;
  width: 70px;
}

.footer_square {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #4D4D4D;
}


