/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
  margin-left: 20px;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 20px;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
