#github {
  margin: 20px;
  height: 70px;
  width: auto;
}

.footer_square {
  z-index: 5;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #4D4D4D;
}

.footer_spacer {
  height: 120px;
}

