/*Header*/

#logo {
  float: left;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

a.header_link{
	height: 65px;
	line-height:65px;
	width: 80px;
	display: inline-block;
	text-align: center;
}

.header_link {
	color: white;
	font: 16px arial;	
	&:hover {
		text-decoration: none;
		color: white;
	}
}




