// Place all the styles related to the property controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
	padding: 5px 6px 5px;
}

.image_col {
	margin: 0 70px 0;
}

.image-container {
  display:block;
  vertical-align: none;
  width: 366px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.image {
	height: 70px; 
	width: 70px;	
	z-index: 2;
	-webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative; 	
    
    -webkit-transform: scale( 1 );
    -moz-transform: scale( 1 );
    -o-transform: scale( 1 );
    -ms-transform: scale( 1 );
    transform: scale( 1 );

    vertical-align: none;

	/*&:hover {
		-webkit-transform: scale( 1 );
	  -moz-transform: scale( 1 );
	  -o-transform: scale( 1 );
	  -ms-transform: scale( 1 );
	  transform: scale( 1 );
	    
		height: auto;
		width: 350px;
    float: left;
		position:absolute;
    z-index: 3;	
		
	  vertical-align: middle;
	}	*/

}

.label-checkbox {
	margin-left: 10px;
}

.black-link {
  color: #333;
}