// Login
.input_labels {
	margin-top: 20px;
}

#logged_as {
    margin-top: -25px;
	margin-bottom: 30px;
}

//System wide
.link {
	color: black;
	&:hover {
		text-decoration: none;
		color: white;
	}
}

.center {
  text-align: center;
}

.background {
	background-image: image-url("footer_lodyas.png");
}

.jumbotron {
   background: rgba(79, 170, 255, 0.4);
}

.white-text {
	color: white;
}

.red-text {
	color: #BA0909;
}

//Welcome page
#welcome {
	color: white;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset, 0 0 8px rgba(0, 0, 0, 0.5);
    outline: 0 none;
}

//Table border color
.divider-color {
	border-color:black;
}

#number_bedrooms {
	margin-top: 10px;
}
