<footer class="footer">
  <small>
    by Craig Bryan, Kat Drobnjakovic, and Ryan O'Connor
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

