<div class="footer_square">
      <%= link_to image_tag('GitHub-Mark-Light-120px-plus.png', id: 'github', alt: 'GitHub Logo'), "https://github.com/CraigBryan/SEG3102Project-fun" %>
</div>

<div class="footer_spacer"></div>
